<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>PiLagerProjekt</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">table</a>
      <a mat-list-item href="#">om</a>
      <a mat-list-item href="#">kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PiLagerProjekt</span>
      <span class="dummy"></span>
      <a class="linksVandret" mat-list-item [routerLink]="'/main-table'">Table</a>
      <a class="linksVandret" mat-list-item [routerLink]="'/about'">Om</a>
      <a class="linksVandret" mat-list-item [routerLink]="'/kontakt'">Kontakt</a>
    </mat-toolbar>
    <!-- Add Content here -->
    <app-main-table></app-main-table>
  </mat-sidenav-content>
</mat-sidenav-container>
